.offers {
  z-index: 1;
  margin-top: 50px;
  position: relative;
  height: 672px;
  background-image: url("../../Assets/offer-bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offers > .top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 56px;
  background: #ffffff;
  border-radius: 0px 0px 30px 30px;
}
.offers > .bottom {
  position: absolute;
  width: 100%;
  height: 42px;
  bottom: 0;
  background: #ffffff;
  border-radius: 30px 30px 0px 0px;
}
.offer-slider {
  width: 85%;
  max-width: 360px;
  height: 420px;
}
.offer-box {
  background: #f2f2f2;
  border-radius: 15px;
  padding: 35px;
  height: 330px;
}
.offer-box > div {
  margin: 8px auto;
  width: 68px;
  height: 68px;
  background: #f7b633;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-box > div > img {
  width: 23px;
  height: 33px;
  object-fit: cover;
}
.offer-box > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin-top: 24px;
}
.offer-box > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin: 15px 0;
}
.offer-box > button {
  display: block;
  margin: 20px 0 42px;
  width: 70px;
  height: 35px;
  background: #f7b633;
  border: 1px solid #f7b633;
  border-radius: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
.offer-slider > :nth-child(2) {
  z-index: 10;
}
.offer-slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #c4c4c4;
  margin: 0 12px !important;
}

.offer-slider .swiper-pagination-bullet-active {
  background: #e84e18;
}

@media screen and (min-width: 768px) {
  .offers {
    height: 1000px;
    background-image: url("../../Assets/offer-bg-lg.png");
  }
  .offers > .top {
    height: 98px;
    border-radius: 0px 0px 90px 90px;
  }
  .offers > .bottom {
    height: 98px;
    border-radius: 90px 90px 0 0;
  }
  .offers-title > h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
  }
  .offers-title > h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin: 30px 0 50px;
  }
  .offer-slider {
    width: 85%;
    max-width: 85%;
    height: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .offers > .top {
    height: 128px;
    border-radius: 0px 0px 90px 90px;
  }
  .offers > .bottom {
    height: 128px;
    border-radius: 90px 90px 0 0;
  }
  .offers-title > h3 {
    font-size: 16px;
    line-height: 23px;
  }
  .offers-title > h2 {
    font-size: 42px;
    line-height: 48px;
  }
  .offer-slider .swiper-pagination {
    display: none;
  }  
}
